@import url('https://fonts.cdnfonts.com/css/mont');

html {
    width: 1600px;
    height: 900px;
    font-family: 'Mont', sans-serif;
}

body {
    margin: 0;
}

header {
    background-image: url("./img/backHeader.png");
    background-repeat: no-repeat;
    height: 900px;
}


a {
    text-decoration: none;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 400px;
    background: linear-gradient(#00000080, rgba(0,0,0,0));
    
}

.logo {
    width: 142px;
    height: 60px;
    box-sizing: content-box;
    padding: 30px 40px;
}

.menu {
    display: flex;
    flex-direction: row;
    padding-top: 41px;
}

.menu__card {
    padding: 0 40px;
    font-weight: 600;
    font-size: 18px;
    color: white;
}

.join {
    position: absolute;
    padding: 18px 0;
    left: 1280px;
}

.join__button {
    width: 280px;
    height: 72px;
    border-radius: 24px;
    background: #EF302B;
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    border-color: #EF302B;
}

.below__header {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    color: white;
}

.left {
    font-weight: 600;
    width: 880px;
    z-index: 1;
    margin-left: 40px;
}

.backHeaderLeft { 
    position: absolute;
    width: 787.8px;
    height: 784.88px;
    background: url("./img/backHeaderLeft.png") no-repeat;
    filter: blur(30px);
    transform: rotate(-4.14deg);
    top: -100px;
    left: -50px;    
}

.backHeaderRight{ 
    position: absolute;
    width: 1077px;
    height: 1073px;
    background: url("./img/backHeaderRight.png") no-repeat;
    filter: blur(50px);
    transform: rotate(3.78deg);
    top: -250px;
    left: 650px;
    
}



.master {
    font-size: 96px;
    padding-top: 152px;
    padding-bottom: 40px;
    line-height: 100px;
}

.institute {
    font-size: 52px;
    padding-bottom: 65px;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: calc(1600px - 880px);
    font-weight: 600;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.right__first {
    width: 496px;
    bottom: 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    padding: 102px 0 40px 0;
}

.right__second {
    bottom: 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    padding-top: 102px;
}

 /* Об институте */

.main {
    z-index: 10;
    height: 1143px;
    background-color: white;
   
}

.about__institute {
    padding-top: 120px;
    display: flex;
}


/* Об институте - описание */

.descrition__about {
    padding-left: 40px;
    padding-right: 19px;
}

.description__title {
    width: 496px;
    color: #1E4391;
    font-weight: 600; /* 600 - много, 500 - нет, подключается 400 */
    font-size: 52px;
    line-height: 110%;
}

.description__institute {
    width: 368px;
    padding: 24px 0px;
    color: #222222;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.description__link {
    font-size: 18px;
    font-weight: 600;
    color: #1E4391;
}

.description__link-underline{
    width: 234px;
    height: 1px;
    background-color: #1E4391;
    margin-bottom: 12px;
    margin-bottom: 41px;
}

/* Видео и данные */

.videos {
    display: flex;
    justify-content: space-between;
}

.video {
    padding: 10px;
}

/* Данные под видео (((фото)))) */

.numbers {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

.number {
    width: 325px;
    color: #1E4391;
    font-weight: 600;
    font-size: 52px;
}

.line {
    width: 325px;
    height: 8px;
    background-color: #1E4391;
    margin-bottom: 12px;
}

.desc {
    width: 325px;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

/* Блок: Как поступить? */

.proceed {
    padding-left: 40px;
}

.proceed__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
}

.type__tuition {
    display: flex;
    flex-direction: row;
    padding-right: 40px;
}

.tuition {
    margin: 20px 10px;
    height: 26px;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #222222;
    opacity: 0.4;
}

.tuition__active {
    color: #1E4391;
    opacity: 1;
}

.switch {
    position: relative;
    width: 54px;
    height: 26px;
    background-color: #1E4391;
    border-radius: 16px;
    margin: 20px 10px;
    cursor: pointer;
}

.switch__ball {
    position: absolute;
    top: 4px;
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    border-radius: 50%;
    z-index: 1;
}

.proceed__steps {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

/* Делаем кружки */

.step__number {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40px;
    align-items: center;
}

.step__number-title {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1E4391;
    display: flex;
    color: #FFFFFF;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

.step__circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 2px solid #1E4391;
    box-sizing: border-box;
}

.step__line {
    width: 0px;
    height: 35px;
    border: 2px solid #1E4391;
}

/* Описание шагов поступления */

.step {
    display: flex;
    flex-direction: row;
    width: calc(1480px / 4);
    padding-right: 10px;
}

.step__info {
    padding-left: 20px;
}

.step__info-title {
    height: 40px;
    margin-bottom: 36px;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #1E4391;
    display: flex;
    align-items: center;
}

.step__info-text{
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
    display: flex;
    align-items: center;    
}

.step__info-tuition {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
}

.info-tuition__text {
    opacity: 0.6;
}

.info-tuition__period {
    opacity: 0.8;
    color: #1E4391;
}

.step__info-link {
    font-size: 14px;
    font-weight: 600;
    color: #1E4391;
}

.step__info-link-underline{
    width: 162px;
    height: 0px;
    border: 1px solid #1E4391;
}

.active__number {
    background-color: #EF302B;
}

.active__border {
    border: 2px solid #EF302B;
}